Importing Libraries

In [31]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

Mount the drive

In [14]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Read the CSV file

In [15]:
df = pd.read_csv('/content/drive/MyDrive/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Drop the columns that are not needed

In [16]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

Seperate the variables

In [18]:
features = df.drop('Survived',axis='columns')
target = df.Survived

In [19]:
features.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [21]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Convert the Sex column into 1s and 2s

In [22]:
features.Sex = features.Sex.map({'male': 1, 'female': 2})

Checking Age column for missing values

In [26]:
Age = df["Age"]
Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

Fill the missing values with the mean value

In [28]:
features.Age = features.Age.fillna(features.Age.mean())

In [30]:
features.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

Split the dataset into training and testing dataset

In [32]:
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size=0.2)

In [38]:
len(X_train)

712

In [39]:
len(X_test)

179

In [41]:
model_dt = tree.DecisionTreeClassifier()

Fit the model

In [42]:
model_dt.fit(X_train, y_train)

DecisionTreeClassifier()

Find the score

In [44]:
model_dt.score(X_test, y_test)

0.770949720670391