#Dictionaries

In [3]:
#Dictionareis can be writtien in two ways

d = {}
d1 = dict()

Now create a dictionareis with key values in it.

In [4]:
data = {}

In [6]:
data["David"] = 22
data["Watson"] = 32
data["Maria"] = 13

In [7]:
data

{'David': 22, 'Watson': 32, 'Maria': 13}

print only the value accociated with a key

In [8]:
data["David"]

22

In [9]:
data["Maria"]

13

The keys in dictionaries are commonly strings or numbers

In [16]:
d[20] = 10

In [18]:
d[20]

10

####Iterating over dictionaries

In [20]:
for key, values in data.items():
  print(key)
  print(values)

David
22
Watson
32
Maria
13

#Problem

In [21]:
student_scores = {
    "John": 85,
    "Emily": 92,
    "Michael": 78,
    "Jessica": 95,
    "William": 88
}

In [31]:
names = ""
highest_score = -1
for key, value in student_scores.items():
  if value > highest_score:
    highest_score = value
    names = key

print("Student with highest score is ", names, "and her score is ", highest_score)

Student with highest score is  Jessica and her score is  95