#List Comprehension

List comprehensions in Python provide a concise way to create lists based on existing lists or other iterable objects.

####Simple List

In [2]:
a = [1, 3, 5, 7, 9, 11]
c = []
for x in a:
  c.append(x * 2)
print(c)

[2, 6, 10, 14, 18, 22]

####List Comprension

In [4]:
d = [x * 2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

###Example

From 1 to 10 find squears of each value

In [10]:
list2 = [x ** 2 for x in range(1, 11)]
list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
f1 = [x**2 for x in range(10, 0, -1)]
f1

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [15]:
f2 = [x ** 2 for x in reversed(range(1, 11))]
f2

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]