#Sets

A set is a type of data that stores a set of unique things.

In [1]:
s = set()
s

set()

In [4]:
s.add("one")
s.add("two")
s.add("three")

In [5]:
s

{'one', 'three', 'two'}

####Iterating over sets

In [8]:
for x in s:
  print(x)

one
two
three

####Remove duplicates
Sets automatically removes duplicates from it.

In [11]:
list1 = [1, 2, 2, 3, 3, 4, 5, 5]

set1 = set()
for x in list1:
  set1.add(x)
print(set1)

{1, 2, 3, 4, 5}

This is the opposite of above

In [13]:
list2 = []
for x in set1:
  list2.append(x)
print(list2)

[1, 2, 3, 4, 5]

####Using strings

Sets doesn't take care of the order.

In [19]:
cars = set()
cars.add('BMW')
cars.add('Honda')
cars.add('Jeep')
cars.add(2)
cars

{2, 'BMW', 'Honda', 'Jeep'}

#Problem

Find sum of unique elements from the list.

In [35]:
new_list = [1, 3, 4, 2, 1, 3]

new_set = set()
for x in new_list:
  new_set.add(x)

total = 0
for x in new_set:
  total += x

print("Lit of items in a set: ", new_set)
print("Sum of all the items: ", total)

Lit of items in a set:  {1, 2, 3, 4}
Sum of all the items:  10