#Tuples

In [3]:
tuple1 = (1, 3, 5, 7, 9)
tuple1

(1, 3, 5, 7, 9)

In [5]:
tuple2 = ("one", 2, "three")
tuple2

('one', 2, 'three')

####Indexing

In [6]:
tuple1[2]

5

In [8]:
tuple1[0]

1

In [9]:
tuple2[2]

'three'

In [10]:
if 'one' in tuple2:
  print("One is in the tuple")

One is in the tuple

Slicing is possible. But it will not change rather create a new tuple instead

In [16]:
tuple3 = tuple1[1: 4]
tuple3

(3, 5, 7)

Cancatenation

In [18]:
num1 = (1, 2, 3)
num2 = (4, 5, 6)
new_tuple = num1 + num2
new_tuple

(1, 2, 3, 4, 5, 6)

In [19]:
# Finding lengtg

print(len(new_tuple))

6

####Add, delete and replace elements

In [26]:
colors = ("Blue", "Yellow", "Purple", "Green", "Black")
var = list(colors)
print("OriginaltTuple", colors)

print("\nPerforming Operations:")

var.append("Gray")
print(var)

var.pop(3)
print(var)

var[2] = "White"
print(var)

colors = tuple(var)
print("\nModified tuple: ", colors)

OriginaltTuple ('Blue', 'Yellow', 'Purple', 'Green', 'Black')

Performing Operations:
['Blue', 'Yellow', 'Purple', 'Green', 'Black', 'Gray']
['Blue', 'Yellow', 'Purple', 'Black', 'Gray']
['Blue', 'Yellow', 'White', 'Black', 'Gray']

Modified tuple:  ('Blue', 'Yellow', 'White', 'Black', 'Gray')

#Problem

Finding the student who Scores top in the class.

In [36]:
def get_top_student(student_scores):
    max_score = 0
    top_student = ""

    for student, score in student_scores:
        if score > max_score:
            max_score = score
            top_student = student

    return top_student

In [38]:
student_scores = [("Salman", 100), ("Ali", 92), ("Charls", 78), ("Mike", 96)]

top_student = get_top_student(student_scores)
print("The top scoring student is:", top_student)

The top scoring student is: Salman