<a href="https://colab.research.google.com/github/salmanakhtar57/Machine-Learning-Beginner-to-Advance/blob/main/Week%201%3A%20Python%20Basics/Variables_%26_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
####Integers
a equals to 1 means variable 'a' contains the value '1' or variable 'a' refers to the value '1'. When you print, it will return 1.

In [ ]:
a = 1

In [ ]:
print(a)

1

Now you can create variables of different types inlcuding integer, floats, strings and boolean.

In [ ]:
b = 2
print(b)

2

Assigining a variable to another variable

In [ ]:
#now b refers to c and giving output of 2 c = b

f = b

In [ ]:
print(f)

2

now b refers to c and giving output of 2
c = b

#####Strings

In [ ]:
word = "Hello World"
print(word)

Hello World

In [ ]:
name = "Salman Akhtar"
print(name)

Salman Akhtar

#####Float

In [ ]:
num = 3.4
print(num)

3.4

#####Boolean

In [ ]:
g = True
print(g)

True

##Variable Type?
We can check type of variables in Python by using built in function 'type'.

In [ ]:
print(type(3))
print(type(1.5))
print(type("Hello!"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

##Swapping two variables
In Python we can swap two variables in just one line of code

In [ ]:
a = 10
b = 20

In [ ]:
print(a)
print(b)

10
20

In [ ]:
#Swapping two variables

a, b = b, a

In [ ]:
print(a)
print(b)

20
10